In [1]:
import pandas as pd

In [2]:
temp = pd.read_csv("daily-min-temperatures.csv", header = 0, parse_dates = [0])

In [3]:
temp.head()

        Date  Temp
0 1981-01-01  20.7
1 1981-01-02  17.9
2 1981-01-03  18.8
3 1981-01-04  14.6
4 1981-01-05  15.8

In [4]:
temp.dtypes

Date    datetime64[ns]
Temp           float64
dtype: object

In [6]:
temp.shape

(3650, 2)

In [7]:
temp.shape[0]

3650

In [14]:
train_size =int(temp.shape[0]*0.8)  #int since sizes should be integer values Decima values wont make any sense
train_size

2920

In [10]:
train = temp[0:train_size]

In [11]:
test = temp[train_size:]

In [12]:
train.shape

(2920, 2)

In [13]:
test.shape

(730, 2)