In [1]:
import pandas as pd

In [8]:
parser(x) : return datetime:strptime('190'+'%Y-%m')

SyntaxError: invalid syntax (<ipython-input-8-19532a9d98c5>, line 1)

In [9]:
df = pd.read_csv('shampoo.csv', header = 0, parse_dates = [0] )

In [10]:
df.head()

  Month  Sales
0  1-01  266.0
1  1-02  145.9
2  1-03  183.1
3  1-04  119.3
4  1-05  180.3

In [11]:
train_size = int(df.shape[0]* 0.7)

In [13]:
train, test = df.Sales[0: train_size], df.Sales[train_size:]